@charset "UTF-8";
html {
	url(images/lighthouse-faron-spanish-english.png);
	background-repeat: no-repeat;
	background-position: center center fixed;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	display: inline;
	min-width: 880px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #8A393B;
	background-image: url(images/brick_wall_by_sesenke-d68o9uc.jpg);
}
#location {
	margin-top: 37px;
	margin-right: 9px;
	margin-bottom: 9px;
	margin-left: 9px;
	font-size: 45px;
}
#logo img {
	width: 450px;
	display: inline-block;
	margin: 0 auto;
	height: 100px;
	position: absolute;
	left: 33%;
	right: 33%;
}
.container {
	width: 900px;
	position: relative;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	overflow-x: visible;
	border-color: #000000;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block;
}
header {
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url(images/elfarologo.png);
	height: 201px;
	width: 900px;
	vertical-align: bottom;
	border-radius: 10px;
	background-size: contain;
}
header ul li {
	display: inline-block;
	width: 127px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 50px
%;
	text-align: center;
	line-height: 48px;
	height: 50px;
	vertical-align: top;
	color: #000000;
	font-size: xx-large;
}
header ul {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 0;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: -218px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: 50px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-color: hsla(0,0%,2%,1.00);
	color: hsla(0,0%,100%,1.00);
	overflow-y: visible;
}
.photoscroll {
	width: 100%;
	height: 225px;
	position: relative;
}
.container .photoscroll img {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
}
.aside {
	position: absolute;
	top: 20px;
	left: 18px;
	background-color: #FFF8E7;
	height: 180px;
}
body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	width: 900px;
}
.topspace {
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0 auto;
	width: 100%;
}
#logo {
	width: 225px;
}
ul li img {
	height: 425px;
	width: 900px;
	display: inline;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
div .image img {
	width: 900px;
	height: 425px;
	margin-bottom: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.slick-dots li button:before {
	color: #fff;
	font-size: 30px;
	opacity: 1;
}
.slick-dots li.slick-active button:before {
	color: hsla(359,100%,76%,1.00);
}
#locations {
	color: hsla(0,0%,48%,1.00);
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	display: block;
	padding-top: 0px;
}
#locations div {
	margin: 0;
	display: inline-block;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#locationlist {
	height: 400px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
	color: #3D3C3C;
	margin-top: 0;
	margin-right: 2%;
	margin-left: auto;
	margin-bottom: -39px;
	width: 49%;
	border-radius: 10px;
	background-image: url(images/parchment.png);
	background-size: cover;
	background-position: 100% 0%;
	padding-top: 41px;
	background-repeat: no-repeat;
	overflow-y: visible;
	font-family: maiden-orange;
	font-style: normal;
	font-weight: 400;
	font-size: xx-large;
	padding-bottom: 0px;
}
.container #locations #locationmap {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mapholder {
	width: 50%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.fade, .slick-initialized, .slick-slider {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#locationmap {
	height: 400px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	width: 49%;
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}
ul {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
li {
	cursor: pointer;
}
header .topspace img {
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	width: 50%;
	display: inline-block;
	position: relative;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header ul #logo {
	overflow-x: visible;
	overflow-y: visible;
	width: 50px;
}
header ul img {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
}
#maps {
	margin-top: 15px;
}
.fade {
	margin-top: 15px;
	border-radius: 10px;
	overflow-x: hidden;
}
.splashquote {
	width: 189px;
	position: absolute;
	height: 90px;
	background-color: #F6F6F6;
	border-radius: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: thin solid hsla(0,0%,0%,1.00);
}

.splashquote1 {
	top: 57px;
	left: 75px;
	border-radius: 10px;
}

.splashquote2 {
	bottom: 57px;
	left: 170px;
	border-radius: 10px;
}

.splashquote3 {
	top: 57px;
	right: 75px;
	border-radius: 10px;
}#googmap {
	width: 100%;
	height: 400px;
}
#homelink {
	background-image: url(url);
}
#linkbar {
	background-image: url(images/linkbacklight.png);
}
